[Unit]
Description=Uptime Kuma docker compose service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f /opt/hsrv/docker-compose-uptime-kuma.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f /opt/hsrv/docker-compose-uptime-kuma.yml stop"

[Install]
WantedBy=multi-user.target
